@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);



html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: $background-color;
  background-color: $background-color; }

.reveal {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #FFF; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: $image-borders;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

 .reveal .controls div {
	 opacity: 0.3;
 }

 .reveal .controls div.enabled {
	 opacity: 1;
 }


.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: $controls-color; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: $controls-color; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: $controls-color; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: $controls-color; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: $controls-color-hover; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: $controls-color-hover; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: $controls-color-hover; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: $controls-color-hover; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
	height: 6px;
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #26A69A;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: $slides-number; }
