img.png {
	box-shadow: none;
	background: transparent;
}

.round {
	border-radius: 100%;
}

.text-left {
	text-align: left;
}

.p-left {
	padding-left: 1em;
}

.p-bottom {
	padding-bottom: 1em;
}

.sm-img {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.text-small {
	font-size: 0.8em;
}

.no-border {
	border: none;
}

img#site-logo {
	border: none;
	box-shadow: none;
	background: transparent;
}

#first-days {
	i {
		font-size: 5em;
	}

	.arrow > i {
		font-size: 3em;
	}
}

#contact {
	img {
		height: 4.5em;
		margin: 1rem 0;
	}

	i {
		margin: 1rem 0;
		font-size: 4.5em;
		display: block;
	}

	a {
		font-size: 1.8rem;
		border-bottom-width: 3px;
	}
}

