$background-color: #1976d2;
$controls-color: #26A69A;
$controls-color-hover: #1E8278;
$links-color:#FFF;
$links-color-hover: #80CBC4;
$progress-bar: #26A69A;
$image-borders: 10px solid #FFF;
$slides-number: #FFF;
$icon-font: normal normal normal 14px/1 FontAwesome;