section#contact
	h1 Contact Me
	.row
		.col-3
			i.fa.fa-linkedin(aria-hidden="true")
		.col-3
			img#site-logo(src="img/site-logo.png")
		.col-3
			i.fa.fa-envelope(aria-hidden="true")
		.col-3
			i.fa.fa-github(aria-hidden="true")
	.row
		.col-3
			a(href="https://www.linkedin.com/in/levi-zitting/" target="_blank") LinkedIn
		.col-3
			a(href="http://levizitting.com/" target="_blank") levizitting.com
		.col-3
			a(href="mail:me@levizitting.com" target="_blank") me@levizitting.com
		.col-3
			a(href="https://github.com/glitchedmob" target="_blank") GitHub