section
	.row
		.col-2
			img.round(src="img/dougbradshaw.jpg" alt="Douglas Bradshaw")
		.col-10
			p.text-left.p-left.
				"Levi is very talented.
				Any project I gave him I had confidence that it would get done in the manner that I wanted.
				My customers loved him, he was kind and patient with the public."
	.row
		.col-12
			h5.text-left.p-bottom.text-small Douglas Bradshaw - CEO of Click Computers Inc.
	.row
		.col-2
			img.round(src="img/josephssempala.jpg" alt="Joseph Ssempala")
		.col-10
			p.text-left.p-left.
				"We found Levi to be very knowledgeable, professional and co-operative throughout the course of each project.
				Additionally, after completions, he has been exceptionally responsive in addressing any minor issues associated with the projects.
				We look forward to working with him more in future."
	.row
		.col-12
			h5.text-left.text-small Joseph Ssempala - CEO of Ssemco Technolgies
