section
	.row
		.col-2
			img.round(src="img/dougbradshaw.jpg" alt="Douglas Bradshaw")
			h5 Douglas Bradshaw
		.col-10
			p "Levi is very talented. Any project I gave him I had confidence that it would get done in the manner that I wanted. My customers loved him, he was kind and patient with the public."
	.row
		.col-2
			img(src="" alt="")
			h5 First Last
		.col-10
			p "endorsement"