section
	.row
		.col-2
			img.round(src="img/dougbradshaw.jpg" alt="Douglas Bradshaw")
		.col-10
			p.text-left.p-left.
				"Levi is very talented.
				Any project I gave him I had confidence that it would get done in the manner that I wanted.
				My customers loved him, he was kind and patient with the public."
	.row
		.col-12
			h5.text-left.p-bottom.text-small Douglas Bradshaw - CEO of Click Computers Inc.
	.row
		.col-2
			img.round(src="img/josephssempala.jpg" alt="Joseph Ssempala")
		.col-10
			p.text-left.p-left "endorsement"
	.row
		.col-12
			h5.text-left.text-small Joseph Ssempala - CEO of Ssemco Technolgies
