section
	h3 I have years of experience in powerful web technologies and paradigms
	.row
		.col-4
			img(src="" alt="")
			h4 PHP
		.col-4
			img(src="" alt="")
			h4 JavaScript
		.col-4
			img(src="" alt="")
			h4 MVC