section
	h3 I leverage powerful web technologies to create awesome apps
	.row
		.col-4
			img.no-border.png(src="img/php.png" alt="PHP")
		.col-4
			img.no-border.sm-img(src="img/js.jpg" alt="JavaScript")
		.col-4
			img.no-border.png(src="img/mvc.png" alt="MVC")
	.row
		.col-4
			h4 PHP
		.col-4
			h4 JavaScript
		.col-4
			h4 MVC