section#first-days
	h2 
		| I want to work with 
		strong You.
	p I have a proven track record of being able to use my technical skills to create value at a company like yours.

	.row
		.col-2
			i.fa.fa-code
		.col-3.arrow
			i.fa.fa-long-arrow-right
		.col-2
			i.fa.fa-line-chart
		.col-3.arrow
			i.fa.fa-long-arrow-right
		.col-2
			i.fa.fa-handshake-o