section
	.row
		.col-6
			h3 
				a(href="http://missspelt.co/" target="_blank") MissSpelt.co
		.col-6
			h3 
				a(href="http://clickcomp.com/" target="_blank") ClickComp.com
	.row
		.col-6
			img(src="img/missspelt.jpg" alt="MissSpelt! Website")
		.col-6
			img(src="img/clickcomp.jpg" alt="Click Computers Website")
	.row
		.col-6
			p.text-small A small from scratch MVC framework written in PHP, plus a national title for web design.
		.col-6
			p.text-small Created with Joomla, my rebuild of the site increased the company's monthly web traffic by over 275% 