section
	h3
		a(href="https://youtu.be/NpEaa2P7qZI" target="_blank") My Story
	iframe.stretch(src='https://www.youtube.com/embed/NpEaa2P7qZI?rel=0&amp;showinfo=0', frameborder='0', allowfullscreen='' data-autoplay)