doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/deck.css")
		title Levi Zitting Pitch Deck
	body

	.reveal
		.slides
			section
				include slides/coverSlide
			section
				include slides/overview
			section
				include slides/story
			section
				include slides/experience
			section
				include slides/projects
			section
				include slides/skills
			section
				include slides/endorsements
			section
				include slides/firstDays
			section
				include slides/contact


	script(src="js/deck.js")