doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/deck.css")
		title Levi Zitting Pitch Deck
	body

	.reveal
		.slides
			include slides/coverSlide
			include slides/overview
			include slides/story
			include slides/experience
			include slides/projects
			include slides/skills
			include slides/endorsements
			include slides/firstDays
			include slides/contact


	script(src="js/deck.js")